---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif : "Sawarabi Mincho", "Nanum Myeongjo";
$sans-serif : "Sawarabi Gothic", "Nanum Gothic";
$monospace : "IBM Plex Mono";

$doc-font-size: 12;
$indent-var: 1.2em;

/* type scale */
$type-size-1 : 2.341em;  // ~39.056px
$type-size-2 : 1.853em;  // ~31.248px
$type-size-3 : 1.463em;  // ~25.008px
$type-size-4 : 1.15em;   // ~20px
$type-size-5 : 0.9em;      // ~16px
$type-size-6 : 0.6875em;   // ~12px
$type-size-7 : 0.625em; // ~11px
$type-size-8 : 0.550em;  // ~10px

/* solarized light syntax highlighting (base16) */
$base00: #1E1E1E ;
$base01: #073642 ;
$base02: #DCDCDC ;
$base03: #657b83 ;
$base04: #57A64A ;
$base05: #586e75 ;
$base06: #eee8d5 ;
$base07: #fdf6e3 ;
$base08: #dc322f ;
$base09: #cb4b16 ;
$base0a: #4EC9B0 ;
$base0b: #D69D85 ;
$base0c: #2aa198 ;
$base0d: #569CD6 ;
$base0e: #6c71c4 ;
$base0f: #d33682 ;

$global-transition : none;

$large: 1280px; 
$x-large: 1440px; 
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials