---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif : "Sawarabi Mincho", "Nanum Myeongjo";
$sans-serif : "Sawarabi Gothic", "Nanum Gothic";
$monospace : "IBM Plex Mono";

$doc-font-size: 12;
$indent-var: 1.2em;

/* type scale */
$type-size-1: 2.441em; 
$type-size-2: 1.953em;
$type-size-3: 1.563em; 
$type-size-4: 1.25em; 
$type-size-5: 1.0em; 
$type-size-6: 0.75em; 
$type-size-7: 0.6875em; 
$type-size-8: 0.625em; 

/* solarized light syntax highlighting (base16) */
$base00: #ffffff ;
$base01: #073642 ;
$base02: #586e75 ;
$base03: #657b83 ;
$base04: #839496 ;
$base05: #586e75 ;
$base06: #eee8d5 ;
$base07: #fdf6e3 ;
$base08: #dc322f ;
$base09: #cb4b16 ;
$base0a: #b58900 ;
$base0b: #859900 ;
$base0c: #2aa198 ;
$base0d: #268bd2 ;
$base0e: #6c71c4 ;
$base0f: #d33682 ;

$global-transition : none;

$large: 1280px; 
$x-large: 1440px; 

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials